:root{
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --lightSmokey-grey: hsl(0, 10%, 86%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --dark-purple: hsl(259, 78%, 11%);
    --Light-red: hsl(0, 100%, 67%);
  }
  @font-face{
      font-family: pop;
    
      src: url(.\asset\images\fonts\Poppins-Regular.ttf);
  }

  *{
      font-family: pop!important;
  }
  
  body{
      display: flex;
      justify-content: center;
      background-color: var(--Off-white);
      align-items: center;
      min-height: 100vh;
  }
  .container{
    background-color: var(--White);
    width: 420px;
    max-width: 80%;
    padding: 30px;
    position: relative;
    border-bottom-right-radius: 150px;
  }
  input{
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--Light-grey);
    outline: none;
  }
  input:focus{
    border: 2px solid var(--purple);
  }
  small{
    color: var(--Light-red);
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: capitalize;
  }
  .submit-btn{
    width: 70px;
    height: 70px;
    padding: 20px;
    display: flex;
    background-color: var(--Purple);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 60px;
  }
  .submit-btn:hover{
    background-color: black;
    cursor: pointer;
  }
  .output span{
    font-size: 2.75rem;
    color: var(--Purple);
    font-style: italic;
  }
  .input-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .input-flex{
    display: flex;
    border-bottom: 2px solid --Off-white;
    margin-bottom: 20px;
  }

  @media  screen and (max-width: 700px) {
    
  
    #container{
      background-color: var(--White);
      width: 220px;
      max-width: 80%;
      position: relative;
      border-bottom-right-radius: 150px;
      padding: 0px;
    }
    .input-flex{
      padding: 0px;
    }
    input{
      padding: 0px;
      width: 50px;
      margin: 0px;
    }
    .submit-btn{
      border-radius: 50%;
      position: absolute;
      left: 50px;
      top: 120px;
    }

    .output{
        margin-top: 5rem;
        padding: 20px;
    }
    .output h1{
        font-size: 3.5rem;
    }
    }